<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:p="http://www.springframework.org/schema/p"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-4.3.xsd
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
		http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd
		http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd">
		<!--组件可以扫描controller、service、、、  -->
		<context:component-scan base-package="com.j1703.controller"/>
		
		<!--配置适配器和映射器  -->
		<mvc:annotation-driven/>
		
		<!--配置视图解析器 
			这里解析jsp 默认使用jstl
		 -->
		 <bean class="org.springframework.web.servlet.view.InternalResourceViewResolver">
		 	<!--配置前缀和后缀  -->
		 	<property name="prefix" value="/WEB-INF/jsp1/"/>
		 	<property name="suffix" value=".jsp"/>
		 </bean>
		
</beans>
